{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Ready Now!</h1>
<br>
<div>
  <h2>What do you need to do before you're ready?</h2>
  <br>
  <form action='/timer' method='POST'>

    {% for activity in activity_time %}
    <div>
      <input type='checkbox' name='activity' value={{ activity }}
          data-time={{ activity_time[activity][1] }}>
          <label for={{ activity }}> {{ activity_time[activity][0] }}</label>
    </div>
    {% endfor %}

    <br>

    <div>
      <b>Total time until you'll be ready:</b>
      <span id='total-time'></span>
    </div>

    <br>
    <br>
    <input type='submit' value="Go!">
  </form>
</div>
{% endblock %}

{% block js %}
<script>
function calculateTime() {
  let activities = $('input:checked');
  console.log(activities)
  let totalTime = 0;

  for (let activity of activities) {
    totalTime += $(activity).data('time');
  }
  $('#total-time').html((totalTime/60).toFixed(2) + ' minutes');
}

$('input').on('click', calculateTime);
</script>
{% endblock %}
