<!doctype html>
<html>
<head>
  <title>Ready Now</title>
</head>
<body>

  <div>
    <button type='button' id='home'>Home</button>
    {% if session.get('user_id'): %}
    <button type='button' id='logout'>Log out</button>
    <button type='button' id='profile'>Profile</button>
    {% else %}
    <button type='button' id='register'>Register</button>
    <button type='button' id='login'>Log in</button>
    {% endif %}
  </div>
  <br>

  {% block content %} CONTENT GOES HERE {% endblock %}

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

  <script>

    $('#home').on('click', ()=> location.href='/');
    $('#register').on('click', ()=> location.href='/register');
    $('#logout').on('click', ()=> location.href='/logout');
    $('#login').on('click', ()=> location.href='/login');
    $('#profile').on('click', ()=> location.href='/profile');

  </script>
  {% block js %}

  {% endblock %}

</body>
</html>

ReactDOM.render(
  <ActivitiesContainer data={ activity_time } />,
  document.getElementById('root')
);
