{% extends 'base.html' %}

{% block content %}
  <button type='button' id='start'>Start!</button>
  {% for activity in activity_time %}
    <div>
      Step: {{ activity_time[activity][0] }} ---
    </div>
    <div>
      Remaining Time: <span class='timer' id='{{ activity }}'>
        {{ activity_time[activity][1] }} seconds</span>
      <button type='button' class='stop' id='stop-{{ activity }}'>Stop Timer</button>
      <br>
      <br>
    </div>

  {% endfor %}

{% endblock %}

{% block js %}
<script>

function countDown(time) {
  let interval = setInterval(function () {
    $('.timer').html(time);
    time -= 1;
  }, 1000);
  if (makeStop == true) {
    clearInterval(interval);
  }
}


let time = 15;
let makeStop = false;

$('#start').on('click', ()=>countDown(time));
$('.stop').on('click', ()=>(makeStop===true));

</script>
{% endblock %}